
  <br>
  <div class="container-fluid container">
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <p class="card-text"><small class="text-muted">© 2022 Alfredo Calle Aguilar</small></p>
      </div>
    </div>
  </div>
  <br>
  
  <!-- <script src="../accionesjs/button.acciones.js"></script> -->
  
</body>
</html>